# Project folders
# --------------------------------------------- #
meta/
template/
collab/
doc/
src/misc/
__pycache__/

# Python code to generate the tables is already under VC
article/tables/

# LaTeX compilation files
# --------------------------------------------- #
*.aux
*.fdb_latexmk
*.fls
*.log
*-log.txt
*.out
*.pdf
*.synctex.gz
*.toc
