# Project folders
# --------------------------------------------- #
meta/
template/
collab/
__pycache__/

# LaTeX compilation files
# --------------------------------------------- #
*.aux
*.fdb_latexmk
*.fls
*.log
*-log.txt
*.out
*.pdf
*.synctex.gz
*.toc
